<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title> admin/baker </title>
    </head>
    <body>
        <h3>baker</h3>
        <form action="/admin/baker/add" method="POST">
            <label> name: </label><input type="text" name="name" value="" required/>
            <input type='submit' value="add"/>
        </form>
        <form action="/admin/baker/delete" method="POST">
            <label> name: </label><input type="text" name="name" value="" required/>
            <input type='submit' value="delete"/>
        </form>
    </body>
</html>